@font-face {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/segoeui-webfont.eot');
	src: local('Segoe UI'),
	     url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/segoeui-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Segoe UI Light';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/segoeuil-webfont.eot');
	src: local('Segoe UI Light'),
		url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/segoeuil-webfont.woff') format('woff');
}


.opensans {font-family: 'Open Sans', sans-serif;}
.roboto {font-family: 'Roboto', sans-serif;}


@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";
@bg-color: #009ade;
// .padding { padding: 30px 0 50px;}
.padding { padding: 60px 0 80px;}
.text-shadow {text-shadow: 1px 1px 1px rgba(0,0,0,.5);}
.second-row {margin-top: 20px;}
.title-margin { margin-bottom: 30px;}
.glyphicon {
	margin-right: 15px;
	font-size: 24px;
}

body { padding-top: 50px; }
.container {
	width: 960px !important;
	font-size: 18px;
	font-family: 'Segoe UI';
}

h1, h2, h3, h4, h5, h6 {font-family: 'Segoe UI Light';}

.glyphicon {top: 3px}

	.header {
		min-height: 300px;
		background: url(../images/header_bg.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
		.text-center;

		&__title {
		// font-size: 52px;
		font-size: 60px;
	}

	&__text {
		// font-size: 18px;
		font-size: 26px;
		padding: 0 10%;
	}
	&__help {
		font-size: 20px;
	}
	&__btn {
		.btn;
		background: transparent;
		color: #fff;
		border: 2px solid #00c6ad;
		border-radius: 0;
		font-size: 18px;
		margin-top: 20px;
		width: 200px;
		height: 50px;
		text-transform: uppercase;
		padding: 0;
		line-height: 48px;
		&:hover,
		&:focus {
			background: #00c6ad;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}
}

.problems {
	.padding;
	.text-center;

	&__title {
		margin-bottom: 50px;
	}
	img {
		margin-bottom: 10px;
	}
	p {
		font-size: 21px;
	}
}

.people {
	.padding;
	.text-center;
	background: #f5f5f5;
	&__title {
		.title-margin;
	}
	p {
		margin-bottom: 40px;
	}
}

.suffer {
	background: #f5f5f5;
	// background: #ecf0f1;
	// background: #009ade;
	// color: #fff;
	.padding;
	// .text-shadow;
	
	&__title {
		.title-margin;
		.text-center;
	}

	&__list {
		font-size: 21px;

		li {
			margin-bottom: 15px;
		}
	}
}

.why {
	// background: #f5f5f5;
	// background: #ecf0f1;
	.padding;
	&__title {
		font-size: 36px;
		margin-bottom: 50px;
		.text-center;
	}
	.row {
		margin-bottom: 60px;
	}
}

.offer {
	color: #fff;
	background: @bg-color;
	.padding;
	.text-shadow;
	.text-center;
	
	&__title {
		font-size: 36px;
		margin-bottom: 50px;
		.text-center;
	}
	&__item {
		font-size: 26px;
		margin-top: 15px;
	}
	.approach {
		margin-top: 29px;
	}
}

.outsource {
	.padding;
	.text-center;

	&__title {
		font-size: 36px;
		margin-bottom: 60px;
	}
	img {
		margin-bottom: 10px;
	}
	p {
		font-size: 21px;
		padding: 0 5%;
	}
}



.reviews {
	// background: #0077AB;
	background: #009ade;
	// color: #fff;
	.padding;
	&__title {
		font-size: 36px;
		.text-center;
		color: #fff;
		margin-bottom: 50px;
	}
	&__item {
		background: #fff;
		margin-bottom: 50px;
		border-radius: 50px;
		box-shadow: 3px 3px 10px rgba(0,0,0,.3);
		padding: 20px 44px;
	}
	&__logo {
		// background: #ccc;
		// width: 200px;
		// height: 100px;
		// border-radius: 150px;
		// .text-center;
		// display: table-cell;
		// vertical-align: middle;
		margin-top: 60px;
	}
	blockquote {
		border-left: none;
	}
}


.how {
	.padding;
	&__title {
		font-size: 36px;
		margin-bottom: 50px;
		.text-center;
	}
	h3 {
		font-size: 21px;
	}
	.glyphicon {
		font-size: 19px;
		color: #888;
	}
	.consult,
	.solution {
		margin-bottom: 30px;
	}
	.phone {
		margin-bottom: 39px;
	}
	.event,
	.task {
		margin-top: 50px;
	}
	.event {
		margin-bottom: 30px;
	}
}



.try {
	// background: #f5f5f5;
	// background: #ececec;
	background: #ecf0f1;
	.padding;
	padding-bottom: 80px;

	&__title {
		font-size: 36px;
		.title-margin;
		.text-center;
	}

	&__text {
		padding: 0 15% 30px;
		.text-center;
	}

	&__address {
		margin-top: 65px;
	}
	
	&__list-block {
		background: #fff;
	}
	&__how-title {
		font-size: 26px;
		margin-top: 20px;
	}

	&__list {
		padding-left: 23px;
		font-size: 19px;
	}
	&__form {
		color: #fff;
		.form-inline;
		.text-center;
		margin-bottom: 20px;
	}

	&__form-btn {
		.btn;
		// .btn-default;
		// background: @bg-color;
		background: #37b34a;
		color: #fff;
		.text-shadow;
		// border-radius: 0;
		height: 50px;
		width: 250px;
		font-size: 22px;
		border-radius: 4px;
		margin-left: 8px;
		&:hover,
		&:focus {
			color: #fff;
			background: darken(#37b34a, 5%);
		}
	}
	.form-control {
		height: 50px;
		width: 250px;
		font-size: 22px;
		border-radius: 4px !important;
		margin-right: 8px;
	}
}

.contacts {
	background: #ddd;
	.text-center;
	padding: 15px 0;
	p {
		font-size: 14px;
		margin: 0;
	}
}